.MoviesIndexPage {
    margin-top: 8vh;
    padding-top: 2vh;
    height: 92vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.movieCards {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}